doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="style.css")
		block title
			Untitled Page
	body
	div#wrapper
		div#header
			block header
		div#content
			block content
		div#footer
			block footer
